<h1>{{title}}</h1>
<p>Hi {{ @root.mycustomerid }} , Welcome to the {{title}}</p>

{{# each products }}
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail">
        <div class="caption">
          <h3>{{ this.title }}</h3>
            <p class="description">{{{this.description}}}</p>
            <div class="clearfix">
            <div class="price pull-left"><i class="fa fa-tag" aria-hidden="true"></i> {{ this.price }} GBP</div>
              <form action="/add/{{ this.id }}" id="addToCartForm" method="post">
                  <input type="hidden" name="mycustomerid" id="mycustomerid" value="{{ @root.mycustomerid }}">
                  <button class="btn btn-default pull-right" type="submit" name="Add To Cart" id="addToCartButton"/>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Add to cart</button>               
              </form> 
            </div>
        </div>
      </div>
    </div>
  </div>
{{/each}}
